@{
    ViewBag.Title = "Changes Password";
}

<div class="app-root bg-white">
    <div class="app-wrapper">
        <main>
            <div class="position-fixed top-0 right-0 left-0 bg-img-hero overlay-white-60" style="height: 32rem; background-image: url(../Content/assets/images/media/bg-cover-01.jpg);">

                <!-- SVG Bottom Shape -->
                <figure class="position-absolute right-0 bottom-0 left-0">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
                        <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
                    </svg>
                </figure>
                <!-- End SVG Bottom Shape -->
            </div>

            <div class="container py-5 py-sm-7">
                <a class="d-flex justify-content-center mb-5" href="javascript:void(0)">
                    <img class="z-index-2" src="~/Content/assets/images/logo.png" alt="" style="width: 4rem;">
                </a>

                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="card card-lg mb-5">
                            <div class="card-body">
                                <div class="text-center">
                                    <div class="mb-5">
                                        <h3>@(BeautyBook_Vendor.Resources.Languages.Change_Password)</h3>
                                        <p>
                                            @(BeautyBook_Vendor.Resources.Languages.Enter_the_Old_password___New_password_and_Confirm_password_and_change_the_password)
                                        </p>
                                    </div>
                                </div>

                                <form id="changePassword" name="changePassword">
                                    <div class="form-group">
                                        <label class="input-label" for="userOldpassword">@(BeautyBook_Vendor.Resources.Languages.Old_Password)</label>
                                        <input type="password" class="js-toggle-password form-control form-control-lg" tabindex="1" name="userOldpassword" id="userOldpassword" placeholder="@(BeautyBook_Vendor.Resources.Languages.Old_Password)" aria-label="@(BeautyBook_Vendor.Resources.Languages.Old_Password)" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label class="input-label" for="userNewpassword">@(BeautyBook_Vendor.Resources.Languages.New_Password)</label>
                                        <input type="password" class="js-toggle-password form-control form-control-lg" tabindex="2" name="userNewpassword" id="userNewpassword" placeholder="@(BeautyBook_Vendor.Resources.Languages.New_Password)" aria-label="@(BeautyBook_Vendor.Resources.Languages.New_Password)" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label class="input-label" for="userConfirmpassword">@(BeautyBook_Vendor.Resources.Languages.Confirm_Password)</label>
                                        <input type="password" class="js-toggle-password form-control form-control-lg" tabindex="3" name="userConfirmpassword" id="userConfirmpassword" placeholder="@(BeautyBook_Vendor.Resources.Languages.Confirm_Password)" aria-label="@(BeautyBook_Vendor.Resources.Languages.Confirm_Password)" autocomplete="off">
                                    </div>

                                    @*show password input box*@
                                    <div class="form-group d-inline-block">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input terms-conditions" tabindex="6" id="passwordCheckbox" name="passwordCheckbox">
                                            <label class="custom-control-label text-muted cursor-pointer mb-0" for="passwordCheckbox">@(BeautyBook_Vendor.Resources.Languages.Show_Password)</label>
                                        </div>
                                    </div>
                                    <button role="button" id="saveChangespassword" tabindex="4" class="btn btn-lg btn-block btn-primary">@(BeautyBook_Vendor.Resources.Languages.Save)</button>
                                    <button type="button" id="saveChangepasswordloading" class="btn btn-lg btn-block btn-primary" style="display:none;">
                                        @(BeautyBook_Vendor.Resources.Languages.Save) <i class="fa fa-circle-o-notch ml-1 fa-spin" aria-hidden="true"></i>
                                    </button>

                                    <div class="text-center mt-3" tabindex="5" id="backToarrow">
                                        <a class="btn btn-link" href="@Url.Action("Index","Home")"><i class="bb-chevron-left align-middle"></i>@(BeautyBook_Vendor.Resources.Languages.Back_to_Dashboard)</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="~/Content/assets/js/jquery/jquery-3.6.0.min.js"></script>
<script src="~/Content/assets/js/popper/popper.min.js"></script>

@*API JS FILE*@
<script src="~/Content/BeautyBook_VendorAPI/APIEndPoint.js"></script>
<script src="~/Content/BeautyBook_VendorAPI/AuthenticationAPI/ChangePassword/ChangePassword.js"></script>
<script src="~/Content/assets/js/sweetalert/sweetalert2.min.js"></script>

<script>
    $(function () {
        $("form[name='changePassword']").validate({
            rules: {
                userOldpassword: {
                    required: true,
                    minlength: 8
                },
                userNewpassword: {
                    required: true,
                    minlength: 8
                },
                userConfirmpassword: {
                    required: true,
                    minlength: 8
                }
            },
            messages: {
                userOldpassword: {
                    required: "Old Password is required",
                },
                userNewpassword: {
                    required: "New Password is required",
                },
                userConfirmpassword: {
                    required: "Confirm Password is required",
                },
            },
            submitHandler: function () {
                ChangePassword();
            }
        });
    });
    $('#passwordCheckbox').change(function () {
        if ($(this).is(':checked')) {
            $('input[type="password"]').prop('type', 'text');
           
        } else {
            $('#userOldpassword').prop('type', 'password');
            $('#userNewpassword').prop('type', 'password');
            $('#userConfirmpassword').prop('type', 'password');
        }
    });
</script>