@using BeautyBook.Entities.Contract
@using BeautyBook.Entities.V1
@model BlogUsersChangePassword

@{
    ViewBag.Title = "Change Password";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Change Password</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Dashboard</a></li>
                            <li class="breadcrumb-item active">Change Password</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-2">
                        <h4 class="card-title mb-1">Change Password</h4>
                        <p class="card-title-desc">You can change your password</p>
                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "row", @id = "profile_form", @enctype = "multipart/form-data" }))
                             {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Id)
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Old Password</label>
                                    @Html.TextBoxFor(m => m.OldPassword, new { @type = "password", @class = "form-control", @name = "OldPassword", @id = "OldPassword" })
                                    @Html.ValidationMessageFor(m => m.OldPassword, "")
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">New Password</label>
                                    @Html.TextBoxFor(m => m.NewPassword, new { @type = "password", @class = "form-control", @name = "NewPassword", @id = "NewPassword" })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "")
                                </div>
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label">Confirm Password</label>
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "form-control", @name = "ConfirmPassword", @id = "ConfirmPassword" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                                </div>
                                <div class="col-lg-12 text-end">
                                    <button class="btn btn-primary waves-effect waves-light button w-md" type="submit">Change Password</button>
                                </div>
                             }
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
    </div>
    <!-- container-fluid -->
</div>