@{
    ViewBag.Title = "Invoice";
    Layout = null;
}
<head>
    <!-- Metatags -->
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name=description content="">
    <meta name=keywords content="">
    <meta name=author content="">
    <title>@ViewBag.Title :: Zaan</title>

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/images/favicons/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <meta name="msapplication-TileColor" content="#e94a1f">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Stylesheet -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <link href="~/Content/assets/css/main.min.css" rel=stylesheet>
    <style>
        .thermal-size {
            width: 80mm !important;
            background: #fff;
            padding: 10px;
            border-radius: 7px;
        }

        .font-small {
            font-size: small;
        }

        #qrcode {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

            #qrcode img {
                width: 100% !important;
            }
    </style>
</head>
<div class="app-root">

    <div class="app-wrapper">
        <main class="app-content">
            <div class="app-content-wrapper pt-0">
                <div class="app-content-inner">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <select class="form-control languages-drp LanSelect d-block mb-3" id="LanSelect" onchange="LanguageSelect();" style="width: 75px;">
                                    <option value="en" id="en">EN</option>
                                    <option value="ar" id="ar" selected>AR</option>
                                </select>
                                <div class="d-flex justify-content-center">

                                    <div class="thermal-size">
                                        <div id="orderinvoiceloader" style="display: none;" class="text-center mb-2 mt-2">
                                            <img src='~/Content/assets/images/ajax-loader.gif' width='32px' height='32px'>
                                        </div>
                                        <div class="invoice-header" id="InvoiceHeader">

                                        </div>

                                        <div class="invoice-main">
                                            <div class="row" id="invoiceDateNo" dir="ltr">

                                            </div>
                                            <hr>
                                            <div class="row fs-14" id="invoiceAddressDetails" dir="ltr">

                                            </div>

                                            <div class="card">
                                                <div class="card-body p-0">
                                                    <div class="table-card table-responsive">
                                                        <table class="table fs-14 mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-3">@(beautybook.Resources.Languages.Service_Name)</th>
                                                                    <th class="col-2 text-right">@(beautybook.Resources.Languages.Amount)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="serviceListRow">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="invoice-footer mt-3 text-center">
                                            <p class="text-1 font-small">@(beautybook.Resources.Languages.NOTE___This_is_computer_generated_receipt_and_does_not_require_physical_signature_)</p>
                                            <div class="d-flex justify-content-center">
                                                <div id="qrcode" class="w-50"></div>
                                            </div>
                                            <div class="btn-group  d-print-none">
                                                <a href="javascript:window.print()" class="btn btn-light border">
                                                    <i class="bb-printer fs-14 mr-2"></i> @(beautybook.Resources.Languages.Print)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Core Scripts -->
<script src="~/Content/assets/js/jquery/jquery-3.6.0.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<script src="~/Content/assets/js/popper/popper.min.js"></script>

@*API JS FILE*@
<script src="~/Content/BeautyBookAPI/APIEndPoint.js"></script>
<script src="~/Content/BeautyBookAPI/AppointmentsAPI/Invoice/GlobalInvoice.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    //setCookie
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    //getCookie
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";

    }

    var Language = getCookie("Languages");
    $(document).ready(function () {
        $('#LanSelect').val(Language == "" ? 'en' : Language);
        if (Language == "en") {
            $('html').attr('dir', 'ltl');
            $('html').attr('lang', 'en');
        } else if (Language == "ar") {
            $('html').attr('dir', 'rtl');
            $('html').attr('lang', 'ar');
            $('body').addClass('arabic-lan');
        }

        ArbicLanguage();

        //AppoinmentInvoice function
        AppoinmentInvoice();
    });

    //Custom Script
    function LanguageSelect() {
        debugger;

        var Item = $('#LanSelect').val();
        window.location.href = `/AppointmentInvoice/InvoiceChange?LanguageAbbrevation=${Item}&InvoiceIdStr=${"@ViewBag.InvoiceId"}`
        $.post("/AppointmentInvoice/InvoiceChange",
        {
            LanguageAbbrevation: Item,
            InvoiceIdStr: "@ViewBag.InvoiceId",
        });
    }

    var Langaugestore = {};
        function ArbicLanguage() {

            Langaugestore = {
                addNewSalon: "@beautybook.Resources.Languages.Add_New_Salon",
                BackToDashboard: "@beautybook.Resources.Languages.Back_to_Dashboard",
                BackToSalonDetails: "@beautybook.Resources.Languages.Back_to_salon_details",
                ServiceName: "@beautybook.Resources.Languages.Service_Name",
                ServiceCategory: "@beautybook.Resources.Languages.Service_Category",
                Duration: "@beautybook.Resources.Languages.Duration",
                Price: "@beautybook.Resources.Languages.Price",
                Status: "@beautybook.Resources.Languages.Status",
                Actions: "@beautybook.Resources.Languages.Actions",
                NoRecordsFound: "@beautybook.Resources.Languages.No_Records_Found",
                TOTALDURATION: "@beautybook.Resources.Languages.TOTAL_DURATION",
                SERVICELIST: "@beautybook.Resources.Languages.SERVICE_LIST",
                PACKAGENAME: "@beautybook.Resources.Languages.PACKAGE_NAME",
                Print : "@beautybook.Resources.Languages.Print",
                ExporttoExcel: "@beautybook.Resources.Languages.Export_to_Excel",
                EmployeeName: "@beautybook.Resources.Languages.Employee_Name",
                Gender: "@beautybook.Resources.Languages.Gender",
                Type: "@beautybook.Resources.Languages.Type",
                Role: "@beautybook.Resources.Languages.Role",
                PHONE: "@beautybook.Resources.Languages.PHONE",
                Email: "@beautybook.Resources.Languages.Email",
                LeaveType: "@beautybook.Resources.Languages.Leave_Type",
                CustomerName: "@beautybook.Resources.Languages.Customer_Name",
                @*Email: "@beautybook.Resources.Languages.Email",*@
                @*PHONE: "@beautybook.Resources.Languages.PHONE",*@
                Appointments: "@beautybook.Resources.Languages.Appointments",
                SALES: "@beautybook.Resources.Languages.SALES",
                LastVisit: "@beautybook.Resources.Languages.Last_Visit",
                Actions: "@beautybook.Resources.Languages.Actions",
                NoofDays: "@beautybook.Resources.Languages.No__of_Days",
                ProductName: "@beautybook.Resources.Languages.Product_Name",
                ProductType: "@beautybook.Resources.Languages.Product_Type",
                Brand: "@beautybook.Resources.Languages.Brand",
                Weight: "@beautybook.Resources.Languages.Weight",
                InStock: "@beautybook.Resources.Languages.In_Stock",
                LowQtyAlert: "@beautybook.Resources.Languages.Low_Qty_Alert",
                Date: "@beautybook.Resources.Languages.Date",
                Services: "@beautybook.Resources.Languages.Services",
                NoPackageSelected: "@beautybook.Resources.Languages.No_Package_Selected",
                FreePlan: "@beautybook.Resources.Languages.Free_Plan",
                SmallPackage: "@beautybook.Resources.Languages.Small_Package",
                MediumPackage: "@beautybook.Resources.Languages.Medium_Package",
                LargePackage: "@beautybook.Resources.Languages.Large_Package",
                UnlimitedPackage: "@beautybook.Resources.Languages.Unlimited_Package",
                Messages: "@beautybook.Resources.Languages.Messages",
                Day: "@beautybook.Resources.Languages.Day",
                SelectPlan: "@beautybook.Resources.Languages.Select_Plan",
                TextMessages: "@beautybook.Resources.Languages.Text_Messages",
                SUBJECT: "@beautybook.Resources.Languages.SUBJECT",
                CREATEDBY: "@beautybook.Resources.Languages.CREATED_BY",
                EDIT: "@beautybook.Resources.Languages.EDIT",
                OfferName: "@beautybook.Resources.Languages.Offer_Name",
                Close: "@beautybook.Resources.Languages.Close",
                Edit_Profile: "@beautybook.Resources.Languages.Edit_Profile",
                Select_a_status: "@beautybook.Resources.Languages.Select_a_status",
                Select_a_type: "@beautybook.Resources.Languages.Select_a_type",
                Approved: "@beautybook.Resources.Languages.Approved",
                Rejected: "@beautybook.Resources.Languages.Rejected",
                Approval_Pending: "@beautybook.Resources.Languages.Approval_Pending",
                Full_Name: "@beautybook.Resources.Languages.Full_Name",
                Alternate_Phone: "@beautybook.Resources.Languages.Alternate_Phone",
                Customer_Since: "@beautybook.Resources.Languages.Customer_Since",
                Last_Visit: "@beautybook.Resources.Languages.Last_Visit",
                Delete: "@beautybook.Resources.Languages.Delete",
                Add_New_Customer: "@beautybook.Resources.Languages.Add_New_Customer",
                Low_Qty_Alert: "@beautybook.Resources.Languages.Low_Qty_Alert",
                View: "@beautybook.Resources.Languages.View",
                Update_Quantity: "@beautybook.Resources.Languages.Update_Quantity",
                Subtract_Quantity: "@beautybook.Resources.Languages.Subtract_Quantity",
                Product_Name: "@beautybook.Resources.Languages.Product_Name",
                Edit_Profile: "@beautybook.Resources.Languages.Edit_Profile",
                Contact: "@beautybook.Resources.Languages.Contact",
                Comment : "@beautybook.Resources.Languages.Comment",



                SERVICEPACKAGENAME: "@beautybook.Resources.Languages.SERVICE___PACKAGE_NAME",
                OFFERDATE: "@beautybook.Resources.Languages.OFFER_DATE",
                START_TIME: "@beautybook.Resources.Languages.START_TIME",
                END_TIME: "@beautybook.Resources.Languages.END_TIME",
                Original_Price: "@beautybook.Resources.Languages.Original_Price",
                Offer_Price: "@beautybook.Resources.Languages.Offer_Price",
                Manage_Daily_Deals: "@beautybook.Resources.Languages.Manage_Daily_Deals",

                Add_New_Daily_Deals: "@beautybook.Resources.Languages.Add_New_Daily_Deals",
                Offer_Price_for_Service_Packages: "@beautybook.Resources.Languages.Offer_Price_for_Service_Packages",
                Manage_Daily_Deals: "@beautybook.Resources.Languages.Manage_Daily_Deals",
                Service_Name: "@beautybook.Resources.Languages.Service_Name",

                IN_TIME: "@beautybook.Resources.Languages.IN_TIME",
                OUT_TIME: "@beautybook.Resources.Languages.OUT_TIME",
                BREAK: "@beautybook.Resources.Languages.BREAK",
                SHORT_LEAVE: "@beautybook.Resources.Languages.SHORT_LEAVE",
                PRODUCTIVE: "@beautybook.Resources.Languages.PRODUCTIVE",
                Actions: "@beautybook.Resources.Languages.Actions",
                Primary_Phone: "@beautybook.Resources.Languages.Primary_Phone",
                Joining_Date: "@beautybook.Resources.Languages.Joining_Date",
                Referred_By: "@beautybook.Resources.Languages.Referred_By",
                Terminate: "@beautybook.Resources.Languages.Terminate",
                Create_New_Package: "@beautybook.Resources.Languages.Create_New_Package",
                Add_New_Employee: "@beautybook.Resources.Languages.Add_New_Employee",
                Adress: "@beautybook.Resources.Languages.Adress",
                From: "@beautybook.Resources.Languages.From",
                To: "@beautybook.Resources.Languages.to",
                Reason: "@beautybook.Resources.Languages.Reason",
                Add_Leave: "@beautybook.Resources.Languages.Add_Leave",
                Change_Status: "@beautybook.Resources.Languages.Change_Status",
                Add_New_Prouduct: "@beautybook.Resources.Languages.Add_New_Prouduct",
                Add_New_Prouduct: "@beautybook.Resources.Languages.Add_New_Prouduct",
                Not_Available_Online_Store: "@beautybook.Resources.Languages.Not_Available_Online_Store",
                Buy_Now: "@beautybook.Resources.Languages.Buy_Now",
                Start_Date: "@beautybook.Resources.Languages.Start_Date",
                End_Date: "@beautybook.Resources.Languages.End_Date",
                Assigned_to: "@beautybook.Resources.Languages.Assigned_to",
                Time: "@beautybook.Resources.Languages.Time",
                Start: "@beautybook.Resources.Languages.Start",
                End: "@beautybook.Resources.Languages.End",
                In_Stock: "@beautybook.Resources.Languages.In_Stock",
                Stock_Out: "@beautybook.Resources.Languages.Stock_Out",
                Reviews: "@beautybook.Resources.Languages.Reviews",
                Ratings: "@beautybook.Resources.Languages.Ratings",
                inclusive_of_all_taxes: "@beautybook.Resources.Languages.inclusive_of_all_taxes",
                Seller: "@beautybook.Resources.Languages.Seller",
                of_customers_recommend_this_product: "@beautybook.Resources.Languages.of_customers_recommend_this_product",
                Add_to_Cart: "@beautybook.Resources.Languages.Add_to_Cart",
                Add_to_wishlist: "@beautybook.Resources.Languages.Add_to_wishlist",
                Seller_since: "@beautybook.Resources.Languages.Seller_since",
                No_Wishlist_found: "@beautybook.Resources.Languages.No_Wishlist_found",
                Subtotal: "@beautybook.Resources.Languages.Subtotal",
                Delivery: "@beautybook.Resources.Languages.Delivery",
                VAT_included: "@beautybook.Resources.Languages.VAT_included",
                Total_to_pay: "@beautybook.Resources.Languages.Total_to_pay",
                Default: "@beautybook.Resources.Languages.Default",
                You_have_selected_to_pay_with_cash_upon_delivery_: "@beautybook.Resources.Languages.You_have_selected_to_pay_with_cash_upon_delivery_",
                Total: "@beautybook.Resources.Languages.Total",
                Order_ID: "@beautybook.Resources.Languages.Order_ID",
                Date: "@beautybook.Resources.Languages.Date",
                Weight: "@beautybook.Resources.Languages.Weight",
                Price: "@beautybook.Resources.Languages.Price",
                Total: "@beautybook.Resources.Languages.Total",
                Actions: "@beautybook.Resources.Languages.Actions",
                Create_your_account: "@beautybook.Resources.Languages.Create_your_account",
                Already_have_an_account__Sign_in_here: "@beautybook.Resources.Languages.Already_have_an_account",
                Sign_in_here: "@beautybook.Resources.Languages.Sign_in_here",
                Password: "@beautybook.Resources.Languages.Password",
                _8__characters_required: "@beautybook.Resources.Languages._8__characters_required",
                I_accept_the_Terms_and_Conditions: "@beautybook.Resources.Languages.I_accept_the_Terms_and_Conditions",
                Terms_and_Conditions: "@beautybook.Resources.Languages.Terms_and_Conditions",
                Create_an_account: "@beautybook.Resources.Languages.Create_an_account",
                Login: "@beautybook.Resources.Languages.Login",
                Sign_in: "@beautybook.Resources.Languages.Sign_in",
                Don_t_have_an_account_yet__Sign_up_here: "@beautybook.Resources.Languages.Don_t_have_an_account_yet_",
                Sign_up_here: "@beautybook.Resources.Languages.Sign_up_here",
                Sign_in_with_Google: "@beautybook.Resources.Languages.Sign_in_with_Google",
                OR: "@beautybook.Resources.Languages.OR",
                Forfot_Password_: "@beautybook.Resources.Languages.Forfot_Password_",
                Forgot_password: "@beautybook.Resources.Languages.Forgot_password",
                Enter_the_email_address_you_used_when_you_joined_and_we_ll_send_you_instructions_to_reset_your_password_: "@beautybook.Resources.Languages.Enter_the_email_address_you_used_when_you_joined_and_we_ll_send_you_instructions_to_reset_your_password_",
                Enter_your_email_address: "@beautybook.Resources.Languages.Enter_your_email_address",
                Send_Reset_Password_Link: "@beautybook.Resources.Languages.Send_Reset_Password_Link",
                Back_to_Sign_in: "@beautybook.Resources.Languages.Back_to_Sign_in",
                Verify_your_email: "@beautybook.Resources.Languages.Verify_your_email",
                Skip: "@beautybook.Resources.Languages.Skip",
                Send_Code: "@beautybook.Resources.Languages.Send_Code",
                Sending_Code: "@beautybook.Resources.Languages.Sending_Code",
                Verification_code_sent_successfully__: "@beautybook.Resources.Languages.Verification_code_sent_successfully__",
                Please_enter_the_6_digit_code: "@beautybook.Resources.Languages.Please_enter_the_6_digit_code",
                Enter_code: "@beautybook.Resources.Languages.Enter_code",
                Resend: "@beautybook.Resources.Languages.Resend",
                Resending: "@beautybook.Resources.Languages.Resending",
                Verify: "@beautybook.Resources.Languages.Verify",
                Enter_salon_name: "@beautybook.Resources.Languages.Enter_salon_name",
                Enter_your_address_here: "@beautybook.Resources.Languages.Enter_your_address_here",
                Select_a_Country: "@beautybook.Resources.Languages.Select_a_Country",
                Select_a_State: "@beautybook.Resources.Languages.Select_a_State",
                Enter_your_city: "@beautybook.Resources.Languages.Enter_your_city",
                Enter_your_zipcode: "@beautybook.Resources.Languages.Enter_your_zipcode",
                Enter_your_primarynumber: "@beautybook.Resources.Languages.Enter_your_primarynumber",
                Enter_your_alternatenumber: "@beautybook.Resources.Languages.Enter_your_alternatenumber",
                Enter_your_Bank_Name_here: "@beautybook.Resources.Languages.Enter_your_Bank_Name_here",
                Enter_your_IBAN_Number_here: "@beautybook.Resources.Languages.Enter_your_IBAN_Number_here",
                No_file_chosen: "@beautybook.Resources.Languages.No_file_chosen",
                Update_Salon_Information: "@beautybook.Resources.Languages.Update_Salon_Information",
                entries: "@beautybook.Resources.Languages.entries",
                In_active: "@beautybook.Resources.Languages.In_active",
                Active: "@beautybook.Resources.Languages.Active",
                Are_you_sure_you_want_to_In_Active_this_service__: "@beautybook.Resources.Languages.Are_you_sure_you_want_to_In_Active_this_service__",
                Yes: "@beautybook.Resources.Languages.Yes",
                Previous: "@beautybook.Resources.Languages.Previous",
                Edit_Service_Details: "@beautybook.Resources.Languages.Edit_Service_Details",
                Add_Employee_and_Charges: "@beautybook.Resources.Languages.Add_Employee_and_Charges",
                Select_Employee: "@beautybook.Resources.Languages.Select_Employee",
                Perform_By: "@beautybook.Resources.Languages.Perform_By",
                mins: "@beautybook.Resources.Languages.mins",
                Basic_Info: "@beautybook.Resources.Languages.Basic_Info",
                Add_New_Category: "@beautybook.Resources.Languages.Add_New_Category",
                Category_Name: "@beautybook.Resources.Languages.Category_Name",
                Skin_care: "@beautybook.Resources.Languages.Skin_care",
                Service_Price: "@beautybook.Resources.Languages.Service_Price",
                Service_Duration: "@beautybook.Resources.Languages.Service_Duration",
                Are_you_sure_In_Active_this_employee__: "@beautybook.Resources.Languages.Are_you_sure_In_Active_this_employee__",
                Are_you_sure_you_want_to_delete_this_employee_details_: "@beautybook.Resources.Languages.Are_you_sure_you_want_to_delete_this_employee_details_",
                Are_you_sure_Active_this_employee__: "@beautybook.Resources.Languages.Are_you_sure_Active_this_employee__",
                Select_a_role: "@beautybook.Resources.Languages.Select_a_role",
                Gaomi_City: "@beautybook.Resources.Languages.Gaomi_City",
                ID: "@beautybook.Resources.Languages.ID",
                START_AT: "@beautybook.Resources.Languages.START_AT",
                Select_a_option: "@beautybook.Resources.Languages.Select_a_option",
                Select_a_Employee_Name: "@beautybook.Resources.Languages.Select_a_Employee_Name",
                Update_Status: "@beautybook.Resources.Languages.Update_Status",
                Name: "@beautybook.Resources.Languages.Name",
                Are_you_sure_delete_this_employee_leave_details__: "@beautybook.Resources.Languages.Are_you_sure_delete_this_employee_leave_details__",
                Edit_Leave: "@beautybook.Resources.Languages.Edit_Leave",
                Select_a_Leave_Type: "@beautybook.Resources.Languages.Select_a_Leave_Type",
                Add_tags_and_Press_enter: "@beautybook.Resources.Languages.Add_tags_and_Press_enter",
                Tell_us_all_about_your_new_customer_: "@beautybook.Resources.Languages.Tell_us_all_about_your_new_customer_",
                Tell_us_all_about_your_edit_customer_: "@beautybook.Resources.Languages.Tell_us_all_about_your_edit_customer_",
                Are_you_sure_Delete_this_customer_details__: "@beautybook.Resources.Languages.Are_you_sure_Delete_this_customer_details__",
                Order_is_in_process_please_do_not_refresh_the_page___: "@beautybook.Resources.Languages.Order_is_in_process_please_do_not_refresh_the_page___",
                Add_a_New_Address: "@beautybook.Resources.Languages.Add_a_New_Address",
                Address: "@beautybook.Resources.Languages.Address",
                Make_this_address_to_default: "@beautybook.Resources.Languages.Make_this_address_to_default",
                Add_Address: "@beautybook.Resources.Languages.Add_Address",
                Adding_Address: "@beautybook.Resources.Languages.Adding_Address",
                Rate: "@beautybook.Resources.Languages.Rate",
                QTY: "@beautybook.Resources.Languages.QTY",
                Amount: "@beautybook.Resources.Languages.Amount",
                NOTE___This_is_computer_generated_receipt_and_does_not_require_physical_signature_: "@beautybook.Resources.Languages.NOTE___This_is_computer_generated_receipt_and_does_not_require_physical_signature_",
                Products: "@beautybook.Resources.Languages.Products",
                Total_Items: "@beautybook.Resources.Languages.Total_Items",
                Load_more: "@beautybook.Resources.Languages.Load_more",
                View_More: "@beautybook.Resources.Languages.View_More",
                Order_Details: "@beautybook.Resources.Languages.Order_Details",
                Skin_Type: "@beautybook.Resources.Languages.Skin_Type",
                All_Skin_Types: "@beautybook.Resources.Languages.All_Skin_Types",
                Choose_rating: "@beautybook.Resources.Languages.Choose_rating",
                _5_stars: "@beautybook.Resources.Languages._5_stars",
                _4_stars: "@beautybook.Resources.Languages._4_stars",
                _3_stars: "@beautybook.Resources.Languages._3_stars",
                _2_stars: "@beautybook.Resources.Languages._2_stars",
                _1_star: "@beautybook.Resources.Languages._1_star",
                Please_choose_rating_: "@beautybook.Resources.Languages.Please_choose_rating_",
                Heading: "@beautybook.Resources.Languages.Heading",
                AddNewService: "@beautybook.Resources.Languages.Add_New_Service",
                Submit_a_Review: "@beautybook.Resources.Languages.Submit_a_Review",
                Free: "@beautybook.Resources.Languages.Free",
                Update_Cart: "@beautybook.Resources.Languages.Update_Cart",
                Are_you_sure_you_want_to_remove_this_product__: "@beautybook.Resources.Languages.Are_you_sure_you_want_to_remove_this_product__",
                Are_you_sure_you_want_to_delete_this_address_details_: "@beautybook.Resources.Languages.Are_you_sure_you_want_to_delete_this_address_details_",
                Shipping_fee: "@beautybook.Resources.Languages.Shipping_fee",
                Tax: "@beautybook.Resources.Languages.Tax",
                Highlights_not_fount: "@beautybook.Resources.Languages.Highlights_not_fount",
                Services_not_found: "@beautybook.Resources.Languages.Services_not_found",
                Specifications_not_fount: "@beautybook.Resources.Languages.Specifications_not_fount",
                This_item_is_currently_out_of_stock: "@beautybook.Resources.Languages.This_item_is_currently_out_of_stock",
                of_cusromers_recommend_this_product: "@beautybook.Resources.Languages.of_cusromers_recommend_this_product",
                This_product_allready_add_in_cart: "@beautybook.Resources.Languages.This_product_allready_add_in_cart",
                Already_added_in_your_wishlist: "@beautybook.Resources.Languages.Already_added_in_your_wishlist",
                Proceed_to_Checkouts: "@beautybook.Resources.Languages.Proceed_to_Checkouts",
                Enter_city_name: "@beautybook.Resources.Languages.Enter_city_name",
                Enter_zip_code: "@beautybook.Resources.Languages.Enter_zip_code",
                Enter_primary_number: "@beautybook.Resources.Languages.Enter_primary_number",
                Enter_phone_number: "@beautybook.Resources.Languages.Enter_phone_number",
                Cash_on_delivery: "@beautybook.Resources.Languages.Cash_on_delivery",
                Debit_or_Credit_card: "@beautybook.Resources.Languages.Debit_or_Credit_card",
                Paypal: "@beautybook.Resources.Languages.Paypal",
                Invoiced_To: "@beautybook.Resources.Languages.Invoiced_To",
                Pay_To: "@beautybook.Resources.Languages.Pay_To",
                Invoice_No: "@beautybook.Resources.Languages.Invoice_No",
                Invoice: "@beautybook.Resources.Languages.Invoice",
                Sub_Total: "@beautybook.Resources.Languages.Sub_Total",
                Select_a_product_type: "@beautybook.Resources.Languages.Select_a_product_type",
                ORDER_DATE: "@beautybook.Resources.Languages.Order_Date", // Change text
                TOTAL_AMOUNT: "@beautybook.Resources.Languages.TOTAL_AMOUNT",
                PAYMENT: "@beautybook.Resources.Languages.PAYMENT",
                ORDER_STATUS: "@beautybook.Resources.Languages.ORDER_STATUS",
                LAST_UPDATED: "@beautybook.Resources.Languages.LAST_UPDATED",
                Confirmed: "@beautybook.Resources.Languages.Confirmed",
                Shipped: "@beautybook.Resources.Languages.Shipped",
                COD: "@beautybook.Resources.Languages.COD",
                Shipment_to: "@beautybook.Resources.Languages.Shipment_to",
                Create_SMS_Marketing: "@beautybook.Resources.Languages.Create_SMS_Marketing",
                Create_Daily_Deals: "@beautybook.Resources.Languages.Create_Daily_Deals",
                And: "@beautybook.Resources.Languages.And",
                Simple_Template1: "@beautybook.Resources.Languages.Simple_Template1",
                Send: "@beautybook.Resources.Languages.Send",
                Upgrade_Plan: "@beautybook.Resources.Languages.Upgrade_Plan",
                Try_for_free: "@beautybook.Resources.Languages.Try_for_free",
                Enter_sms_subject: "@beautybook.Resources.Languages.Enter_sms_subject",
                Add_Email_Marketing: "@beautybook.Resources.Languages.Add_Email_Marketing",
                Home: "@beautybook.Resources.Languages.Home",
                Trainer: "@beautybook.Resources.Languages.Trainer",
                Full_Time: "@beautybook.Resources.Languages.Full_Time",
                Hair_Salon: "@beautybook.Resources.Languages.Hair_Salon",
                Cut___Blow_Dry_Hair: "@beautybook.Resources.Languages.Cut___Blow_Dry_Hair",
                Hair_Dye: "@beautybook.Resources.Languages.Hair_Dye",
                Hair_Styling: "@beautybook.Resources.Languages.Hair_Styling",
                Hair_Treatment: "@beautybook.Resources.Languages.Hair_Treatment",
                Tattoos: "@beautybook.Resources.Languages.Hair_Treatment",
                Hair_Removal: "@beautybook.Resources.Languages.Hair_Removal",
                Manicure: "@beautybook.Resources.Languages.Manicure",
                Pedicure: "@beautybook.Resources.Languages.Pedicure",
                Medical_Leave: "@beautybook.Resources.Languages.Medical_Leave",
                Paternity_Leave: "@beautybook.Resources.Languages.Paternity_Leave",
                Expire_your_plan: "@beautybook.Resources.Languages.Expire_your_plan",
                Nails: "@beautybook.Resources.Languages.Nails",
                Health__Care: "@beautybook.Resources.Languages.Health__Care",
                Are_you_sure_you_want_to_delete_this_offer__: "@beautybook.Resources.Languages.Are_you_sure_you_want_to_delete_this_offer__",
                PACKAGES_NAME: "@beautybook.Resources.Languages.PACKAGES_NAME",
                Save_Deal: "@beautybook.Resources.Languages.Save_Deal",
                Hair_Styling___Service: "@beautybook.Resources.Languages.Hair_Styling___Service",
                Are_you_sure_you_want_to_delete_this_Daily_Deals__: "@beautybook.Resources.Languages.Are_you_sure_you_want_to_delete_this_Daily_Deals__",
                Select_a_Customer_Name: "@beautybook.Resources.Languages.Select_a_Customer_Name",
                Select_a_Assigned_To: "@beautybook.Resources.Languages.Select_a_Assigned_To",
                Sat: "@beautybook.Resources.Languages.Sat",
                HEALTH_CARE: "@beautybook.Resources.Languages.HEALTH_CARE",
                Status_updated_successfully: "@beautybook.Resources.Languages.Status_updated_successfully",
                Updating: "@beautybook.Resources.Languages.Updating",
                Appointment_Details: "@beautybook.Resources.Languages.Appointment_Details",
                Appointment_ID: "@beautybook.Resources.Languages.Appointment_ID",
                Appointment_Date: "@beautybook.Resources.Languages.Appointment_Date",
                Appointment_Time: "@beautybook.Resources.Languages.Appointment_Time",
                Assign_To: "@beautybook.Resources.Languages.Assign_To",
                NoProductFound: "@beautybook.Resources.Languages.no_product_found",
                Are_you_sure_you_want_to_delete_this_appoinment__: "@beautybook.Resources.Languages.Are_you_sure_you_want_to_delete_this_appoinment__",
                CustomerDetails: "@beautybook.Resources.Languages.Customer_Details",
                Proceed_to_Chechouts: "@beautybook.Resources.Languages.Proceed_to_Chechouts",


                //invoice content
                Invoice_Date: "@beautybook.Resources.Languages.Invoice_Date",
                Printing_Date: "@beautybook.Resources.Languages.Printing_Date",
                Tax_No: "@beautybook.Resources.Languages.Tax_No",
                Salon_Details: "@beautybook.Resources.Languages.Salon_Details",
                VAT_15__: "@beautybook.Resources.Languages.VAT_15__",
                Total_Including_tax: "@beautybook.Resources.Languages.Total_Including_tax",
                Simplifed_tax_invoice: "@beautybook.Resources.Languages.Simplifed_tax_invoice",

            };
        }

</script>